{% extends 'main/layout.html' %}

{% block title %}
   Order
{% endblock %}

{% block content %}
    <style>
    table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
}

thead {
    background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #e2e2e2;
}

    </style>

    <h1>Orders Info</h1>
    <table border="1" cellpadding="5">
        <thead>
            <tr>
                <th>Status</th>
                <th>Product</th>
                <th>address</th>
                <th>Phone</th>
                <th>Username</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
                <tr>
                    <td>{{ order.status }}</td>
                    <td>{{ order.product }}</td>
                    <td>{{ order.adress }}</td>
                    <td>{{ order.phone_num }}</td>
                    <td>{{ order.username }}</td>

                    <td><a href="{% url 'order_detail' order.id %}">Details</a></td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">No Orders</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}


